.container {
  margin: 10rem;
}
.moves-button {
   background: rgba(255, 255, 255, 0);
  background-color: transparent;
  border: 3px solid white;
  cursor: pointer;
  margin-right: 10px;
  width: 120px;
  height: 120px;
  /* border-radius: 60px; */

}

.reset {
  width: 106px;
  height: 40px;

  color: wheat;
  background-color: red;

  border: solid;
  border-radius: 4px;

  cursor: grab;
  margin: 10px;
}
